/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock

/public/images/candidates
/public/images/company-logo
/public/images/emp-portfolios
/public/images/resume_images
